@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This web site is built with the purpose of showing people what is happening within a certain geographical area.</p>
<p>It can also be filtered down into event categories and by some timeframe as well.</p>

<p>The data shown here is gathered from <a href="http://www.apis.is">apis.is</a> it is also stored at the web servers that run this site.</p>

<p>If you want to add in some features feel free to fork the repository which resided at <a href="https://github.com/jonorri/GEO.Itiniraries/">Github</a>.</p>

<p>See the Contact tab to see how to contact me.</p>