@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Jón Orri Kristjánsson<br />
    Bárugrandi 9<br />
    <abbr title="Phone">P:</abbr>
    +354 867-1665
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jonorri333@gmail.com">jonorri333@gmail.com</a><br />

</address>