@{
    ViewBag.Title = "Home Page";
}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<!-- TODO: KRAPP EXTRACT THE CHECKBOX FRENZY OUT TO A JQUERY LIBRARY -->
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="span3">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chkMovies" class="style3" value="option1"> Movies
                        </label>
                    </div>
                </th>
                <th>
                    <div class="span3">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chkTheater" class="style3" value="option2" disabled="disabled"> Theater (NOT YET ENABLED)
                        </label>
                    </div>
                </th>
                <th>
                    <div class="span3">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chkConcerts" class="style3" value="option3" disabled="disabled"> Concerts (NOT YET ENABLED)
                        </label>
                    </div>
                </th>
                <th>
                    <div class="span3">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="chkSports" class="style3" value="option3"> Sports
                        </label>
                        <table id="sportSubCategories" hidden="hidden">
                            <tr>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="chkFootball" class="style3" value="option3"> Football
                                    </label>
                                </td>
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="chkHandball" class="style3" value="option3"> Handball
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </th>
            </tr>
        </thead>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Start date: <input type="text" class="span2" value="" id="startDate"></th>
                <th>End date: <input type="text" class="span2" value="" id="endDate"></th>
            </tr>
        </thead>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="span9">
                        Radius to search by: <input type="text" class="span2" value="1000" data-slider-min="0" data-slider-max="15000" data-slider-step="100" data-slider-value="1000" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" id="radiusSlider">
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="span1">
                        <input type="button" id="btnSearch" value="Search" onclick=resetPosition() />
                    </div>
                </th>
            </tr>
        </thead>
    </table>
</div>

<!-- TODO: KRAPP THE circle should move along with the drag of the marker -->
<div id="map-canvas" class="jumbotron"></div>
<!-- TODO: KRAPP REFACTOR ALL THESE SCRIPTS OUT TO A SINGLE SCRIPT FILE -->
<script>
    var circ = null;
    var homePosition = new google.maps.LatLng(64.149168, -21.941145); // This is the Kolaport the center of Icelandic events
    var map = new google.maps.Map(document.getElementById('map-canvas'), { zoom: 15 });
    var homeMarker = new google.maps.Marker({
        position: homePosition,
        map: map
    });

    setHomeMarkerAndCircle();

    function setHomeMarkerAndCircle() {
        map.setCenter(homePosition);
        homeMarker.setMap(null);
        homeMarker = new google.maps.Marker({
            position: homePosition,
            map: map,
            title: "You are here",
            draggable: true
        });

        google.maps.event.addListener(
            homeMarker,
            'dragend',
            function () {
                homePosition = new google.maps.LatLng(homeMarker.position.k, homeMarker.position.A);
                setHomeMarkerAndCircle();
                updateMap();
            }
        );
        if (circ != null) {
            circ.setMap(null);
        }

        circ = new google.maps.Circle({
            map: map,
            radius: parseInt(document.getElementById("radiusSlider").value),
            fillColor: '#008000'
        });
        circ.setCenter(homePosition);

        map.fitBounds(circ.getBounds());
    }

    function resetPosition() {
        navigator.geolocation.getCurrentPosition(setHomeMarker);

        function setHomeMarker(position) {
            homePosition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

            setHomeMarkerAndCircle();

            updateMap();
        }
    };

    function updateMap() {
        jQuery.support.cors = true;
        var dataSet = {};

        dataSet.position = homeMarker.position.k + ":" + homeMarker.position.A;
        dataSet.radiusRange = parseInt(document.getElementById("radiusSlider").value);
        dataSet.startDate = document.getElementById("startDate").value;
        dataSet.endDate = document.getElementById("endDate").value;

        var categories = new Array();
        if ($("#chkConcerts").is(':checked')) {
            categories.push("Concerts");
        }
        
        if ($("#chkMovies").is(':checked')) {
            categories.push("Movies");
        }
        
        if ($("#chkTheater").is(':checked')) {
            categories.push("Theater");
        }

        if ($("#chkFootball").is(':checked')) {
            categories.push("Football");
        }

        if ($("#chkHandball").is(':checked')) {
            categories.push("Handball");
        }

        dataSet.categories = JSON.stringify(categories);
        $.ajax(
            {
                type: "GET",
                url: '@Url.Action("Get", "Events")',
                data: dataSet,
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    $.each(data["eventModels"], function (i, theItem) {
                        var infowindow = new google.maps.InfoWindow({
                            content: theItem["eventDescription"]
                        });
                        
                        var image = {
                            url: theItem["imageUrl"],
                            size: new google.maps.Size(71, 71),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(17, 34),
                            scaledSize: new google.maps.Size(25, 25)
                        };

                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(theItem["venue"]["latitude"], theItem["venue"]["longitude"]),
                            map: map,
                            title: theItem["eventName"],
                            icon: image
                        });
                        
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(map, marker);
                        });

                    });
                },
                error: function (msg, url, line) {
                    alert('error trapped in error: function(msg, url, line)');
                    alert('msg = ' + msg + ', url = ' + url + ', line = ' + line);
                }
            });
    };

    $('#chkSports').change(function () {
        $('#sportSubCategories').toggle();
        var checked = $('#chkSports').is(':checked');
        $('#chkFootball').prop('checked', checked);
        $("#chkFootball").trigger("change");
        $('#chkHandball').prop('checked', checked);
        $("#chkHandball").trigger("change");
    });
</script>
