@model WhatToDoInIceland.Web.Common.Models.VenueModel

@{
    Layout = null;
}

<form id="deleteVenue" method="post" role="form" action="@Url.Action("Delete", "Venues")">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Are you sure you wish to delete this venue?</h4>
    </div>

    <div class="modal-body">

        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.Hidden("id", Model.VenueId)
            @Html.LabelFor(model => model.VenueName, Model.VenueName, new { @class = "control-label" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
        <button type="submit" class="btn btn-danger" id="btnDeleteVenue">Yes</button>
    </div>
</form>